::ng-deep .toolbar-bg {
  background: var(--primary-color);
  color: white;
  margin: 0;
}
.img-pop {
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }
  