<div class="toolbar-bg p-2 container-fluid text-left">
  <h2>&nbsp;&nbsp;Sporty shoes</h2>
</div>

<div class="container mt-5 pt-5 d-flex justify-content-center">
  <p-card
    header="Update password"
    class="w-25 p-shadow-3"
    styleClass="p-shadow-3"
  >
    <form [formGroup]="updatePasswordForm" (submit)="updatePassword()">
      <div class="mt-2">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            pInputText
            class="w-100"
            formControlName="newPassword"
          />
          <label for="float-input">New password</label>
        </span>
      </div>

      <div class="mt-4">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            pInputText
            class="w-100"
            formControlName="newPasswordConfirm"
          />
          <label for="float-input">Confirm password</label>
        </span>
      </div>

      <div class="footer d-flex justify-content-end mt-4">
        <p-button styleClass="p-button-primary pr-3" type="submit"
          ><i class="pi pi-eject"></i>&nbsp;&nbsp;Update</p-button
        >
      </div>
    </form>
  </p-card>
</div>
